@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin respond-to($breakpoint) {
    @if $breakpoint == mobile {
        @media (max-width: $mobile) { @content; }
    }
    @else if $breakpoint == tablet {
        @media (max-width: $tablet) { @content; }
    }
}